<div *ngIf="artist">
	<h3 *ngIf="isAnError; else artistBlock">Sorry, something went wrong.</h3>

	<ng-template #artistBlock>
		<h2>{{ artist.name }}</h2>
		<a
			*ngIf="libraryUrl"
			[href]="libraryUrl"
			target="_blank"
			rel="noopener noreferrer"
			>Library</a
		>
		<p>Play count: {{ artist.listeners | number }}</p>
		<img *ngIf="imgUrl; else noImg" [src]="imgUrl" />
		<ng-template #noImg><p>No pictures found.</p></ng-template>
	</ng-template>
</div>
