<div id="app">
	<h1>Get A Random Artist</h1>
	<p>Search a user's Last.fm library for a random artist.</p>
	<app-main-form [artistSubject]="artistSubject"></app-main-form>
	<app-artist *ngFor="let artist of artists" [artist]="artist"></app-artist>
</div>
