<form (ngSubmit)="onSubmit()" #mainForm="ngForm">
  <label>Username:
    <input [(ngModel)]="username" placeholder="username" name="username" #usernameEl="ngModel" required>
  </label><br>
  <div [hidden]="usernameEl.valid || usernameEl.pristine"
     class="alert alert-danger">
    Username is required
  </div>

  <label>Minimum listens:
    <input [(ngModel)]="minListens" type="number" name="minListens" #minListensEl="ngModel" required>
  </label><br>
  <div [hidden]="minListensEl.valid || minListensEl.pristine"
     class="alert alert-danger">
    Minimum listens is required
  </div>
  <input type="submit" value="Submit" [disabled]="mainForm.form.invalid">
</form>
